NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_EVENT_DATE=2026-12-31T20:00:00-05:00
NEXT_PUBLIC_VENUE_LAT=
NEXT_PUBLIC_VENUE_LNG=
NEXT_PUBLIC_CELEBRANT_NAME=
NEXT_PUBLIC_APP_URL=https://tu-dominio.com
DEV_ORIGIN=
